.logo {
	color: #f784c5;
	text-shadow:
		0 0 17px #1b602f,
		0 0 8px #000072;
}

.logo:hover {
	color: #f99fd2;
	text-shadow:
		0 0 17px #165027,
		0 0 8px #000072;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}